* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.left {
    left: 0;
    background: #8ebfe7;
}

.right {
    right: 0;
    background: #037fb1;
}

.logo-side .wrapper {
   text-align: center;
   color: #037fb1;
   font-weight: bold;
}

.content-side .wrapper {
    width: 100%;
    padding: 4em;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navbar-nav {
    flex-direction: row;
    width: 50%;
    align-self: flex-end;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.4em;
}

.navbar-nav a {
    color: white;
    transition: all 0.5s;
}

.navbar-nav a:hover {
    color: rgb(197, 191, 191);
}

.content {
    padding: 5em;
}

.footer {
    text-align: center;
}

.footer .navbar-nav {
    justify-content: center;
}

.footer .navbar-nav li {
    margin-left: 1em;
    margin-right: 1em;
}

@media (max-width: 1350px) {
    .content {
        padding: 4em;
    }
}

@media (max-width: 1180px) {
    .content-side .wrapper {
        padding: 2em;
    }
    .content {
        padding: 3em;
    }
}

@media (max-width: 1000px) {
    .content-side .wrapper {
        padding: 1em;
    }
    .content {
        padding: 2em;
    }
}

@media (max-width: 950px) {
    .split {
        height: auto;
        width: auto;
        position: static;
    }

    .left {
        display: none;
    }
    .right {
        background: #8ebfe7;
    }
    .content-logo {
        display: inline!important;
    }
    .navbar-nav a {
        color: black;
    }
    body {
        color: black;
    }
}

@media (max-width: 700px) {
    .content-logo {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .content-logo {
        width: 200px;
    }
}